<div class="table-responsive table--no-card m-b-30">
  <table class="table table-borderless table-striped table-earning">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Ciudad</th>
        <th>Direccion</th>
        <th>Editar</th>
      </tr>
    </thead>

    <tbody>
      <% @clientes.each do |cliente| %>
        <tr>
          <td><%= link_to cliente.nombres, cliente_path(cliente) %></td>
          <td><%= cliente.apellidos %></td>
          <td><%= cliente.correo %></td>
          <td><%= cliente.telefono %></td>
          <td><%= cliente.ciudad %></td>
          <td><%= cliente.direccion_inicial %></td>
          <td><%= link_to edit_cliente_path(cliente) do %> <i class="fa fa-edit"></i> <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Nuevo Cliente', new_cliente_path %>
