<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>

  <body>
  <div id="container">
    <article>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
                <strong>Cliente <%= @cliente.nombres.humanize %>
            </div>
            <div class="card-body">
              <strong>Nombre: </strong><%= @cliente.nombres%><br><br>
              <strong>Apellidos: </strong><%= @cliente.apellidos %><br><br>
              <strong>Correo: </strong><%= @cliente.correo %><br><br>
              <strong>Telefono: </strong><%= @cliente.telefono %><br><br>
              <strong>Ciudad: </strong><%= @cliente.ciudad %>
            </div>
          </div>
        </div>
      </div>

      <div id="oli">
      <button type="button" name="button" </button>  <%= link_to 'Editar', edit_cliente_path(@cliente) %>
      <button type="button" name="button" </button><%= link_to 'Regresar', clientes_path %>

      </div>
    </article>
  </div>


  </body>
</html>
