<div class="card-body card-block">
  <%= simple_form_for @carro do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :placa, input_html: {:tabindex => 1} %>
        <%= f.input :nom_prop, input_html: {:tabindex => 3} %>
      </div>
      <div class="col-md-6">
        <%= f.input :documen_prop, input_html: {:tabindex => 2} %>
        <%= f.input :cel_propietario, input_html: {:tabindex => 4} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :fecha_venc_pc, order: [:day, :month, :year], input_html: {:tabindex => 5} %>
        <%= f.input :fecha_venc_tm, order: [:day, :month, :year], input_html: {:tabindex => 7} %>
      </div>
      <div class="col-md-6">
        <%= f.input :fecha_venc_pe, order: [:day, :month, :year], input_html: {:tabindex => 6} %>
        <%= f.input :fecha_venc_soat, order: [:day, :month, :year], input_html: {:tabindex => 8} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :img_lic_trans, input_html: {:tabindex => 9}%>
        <%= f.input :img_tarj_oper, input_html: {:tabindex => 11} %>
        <%= f.input :carro_img, input_html: {:tabindex => 13}%>
      </div>
      <div class="col-md-6">
        <%= f.input :img_soat, input_html: {:tabindex => 10} %>
        <%= f.input :img_tec_mecan, input_html: {:tabindex => 12} %>
        <div class="form-check mx-sm-2">
          <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="carro[serv_publico]" tabindex="14"> Servicio publico <i class="input-helper"></i></label>
        </div>
      </div>
    </div>
    <div class="actions">
        <%= f.button :submit, class: "btn btn-primary btn-sm", input_html: {:tabindex => 15}%>
    </div>
  <% end %>
</div>
