<div class="card-body card-block">
  <%= simple_form_for @conductor do |f| %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :num_documento %>
          <%= f.input :fech_ven_licen, order: [:day, :month, :year] %>
          <%= f.input :fech_seg_ven, order: [:day, :month, :year] %>
        </div>
        <div class="col-md-6">
          <%= f.input :nombre %>
          <%= f.input :fech_seg_ini, order: [:day, :month, :year] %>
          <%= f.input :fech_ingreso, order: [:day, :month, :year] %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= f.input :cedula_img%>


          <%= f.input :hoja_vida %>


          <%= f.input :licencia %>

        </div>
      </div>
</div>
<div class="card-footer">
  <%= f.button :submit, class: "btn btn-primary btn-sm"%>
</div>
<% end %>
