<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
     <div id="container">
       <article>
         <div class="row">
           <% breadcrumb :conductor_show, @conductor %>
           <div class="col-lg-6">
             <div class="card">
               <div class="card-header">
                   <strong>Conductor <%= @conductor.nombre.humanize %>
               </div>
               <div class="card-body">
                 <p>
                    <strong>Numero de documento: </strong>
                    <%= @conductor.num_documento%><br><br>
                 </p>

                 <p>
                     <strong>Fecha de ingreso: </strong>
                     <%= @conductor.fech_ingreso %><br><br>
                 </p>

                 <p>
                    <strong>Fecha de licencia: </strong>
                    <%= @conductor.fech_ven_licen %><br><br>
                 </p>

                 <p>
                      <strong>Fecha de vencimiento seguro: </strong>
                      <%= @conductor.fech_seg_ven %>
                 </p>

                 <p>
                   <strong>Hoja de vida: </strong>
                    <% @conductor.hoja_vida.present?%>
                 </p>

                  <p>
                    <strong>Licencia: </strong>
                    <% @conductor.licencia.present?%>
                  </p>

                  <p>
                    <strong>Cedula: </strong>
                    <% @conductor.cedula_img.present?%>
                  </p>

               </div>
             </div>
           </div>


         </div>

       </article>

     </div>

     <div >
     <button type="button" class="button">  <%= link_to 'Editar', edit_conductor_path(@conductor) %> </button>
     <button type="button" class="button">  <%= link_to 'Regresar', conductores_path %> </button>
     </div>
  </body>
</html>
