<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="images/faces/face8.jpg" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">Allen Moreno</p>
          <p class="designation">Administrator</p>
        </div>
        <div class="icon-container">
          <i class="icon-bubbles"></i>
          <div class="dot-indicator bg-danger"></div>
        </div>
      </a>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">INICIO</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%=root_path%>">
        <span class="menu-title">Dashboard</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category"><span class="nav-link">DATOS</span></li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#conduct" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Conductores</span>
        <i class="fa fa-users menu-icon" aria-hidden="true"></i>
      </a>
      <div class="collapse" id="conduct">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="<%=new_conductor_path%>">Nuevo conductor</a></li>
          <li class="nav-item"> <a class="nav-link" href="<%=conductores_path%>">Conductores</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#veh" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Vehiculos</span>
        <i class="fa fa-car menu-icon" aria-hidden="true"></i>
      </a>
      <div class="collapse" id="veh">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="<%=new_carro_path%>">Nuevo vehiculo</a></li>
          <li class="nav-item"> <a class="nav-link" href="<%=carros_path%>">Vehiculos</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#cli" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">Clientes</span>
        <i class="fa fa-address-book-o menu-icon" aria-hidden="true"></i>
      </a>
      <div class="collapse" id="cli">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="<%=new_conductor_path%>">Nuevo cliente</a></li>
          <li class="nav-item"> <a class="nav-link" href="<%=conductores_path%>">Clientes</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
