<!DOCTYPE html>
<html>
  <head>
    <title>Transrut</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=stylesheet_link_tag "vendors/simple-line-icons/css/simple-line-icons.css", media: 'all'%>
    <%=stylesheet_link_tag "vendors/flag-icon-css/css/flag-icon.min.css", media: 'all'%>
    <%=stylesheet_link_tag "vendors/css/vendor.bundle.base.css", media: 'all'%>
    <%=stylesheet_link_tag "vendors/daterangepicker/daterangepicker.css", media: 'all'%>
    <%=stylesheet_link_tag "vendors/chartist/chartist.min.css", media: 'all'%>
    <%=stylesheet_link_tag "css/style.css", media: 'all'%>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="animsition" style="animation-duration: 900ms; opacity: 1;" >
    <div class="container-scroller">
      <%= custom_bootstrap_flash %>
      <!-- topnavbar -->
      <%= render 'layouts/topnavbar' %>

      <div class="container-fluid page-body-wrapper">
        <!-- navigation -->
        <%= render 'layouts/navigation' %>

        <div class="main-panel">
          <div class="content-wrapper">
            <%=yield%>
          </div>
          <!-- footer -->
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_include_tag 'vendors/js/vendor.bundle.base.js'%>
    <%= javascript_include_tag 'vendors/chart.js/Chart.min.js'%>
    <%= javascript_include_tag 'vendors/moment/moment.min.js'%>
    <%= javascript_include_tag 'vendors/daterangepicker/daterangepicker.js'%>
    <%= javascript_include_tag 'vendors/chartist/chartist.min.js'%>
    <%= javascript_include_tag 'js/off-canvas.js'%>
    <%= javascript_include_tag 'js/misc.js'%>
    <%= javascript_include_tag 'js/dashboard.js'%>
  </body>
</html>
